*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties

.firebaserc
*.log

# Firebase authentication files
/auth_debug_android.xml
/auth_release_android.xml

# Firebase storage files
/*/firebasestorage.googleapis.com/
**/*/firebasestorage.googleapis.com/*

# Firebase Realtime Database files
/*.json
/*.rules
